<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>My App</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="http://localhost:3000/">Home</a></li>
            <li><a href="http://localhost:3000/video">Video</a></li>
            
        </ul>
    </nav>
    <div class="main">
        <h2>WELCOME</h2>
        <h4>Your Name</h4>
        <input type="text" id="txt">
        <button id="btn" type="button">SURPRISE</button>
        <h4 id="nbOfChar"></h4>
    </div>
    <footer>
    </footer>
<script type="text/javascript" src="script.js"></script>
</body>
</html>