body{
    background-color: rgb(255, 255, 255);
    font-family: "Andale", monospace;
    padding:0;
    margin:0;
}

h2{
    margin:0;
}

nav{
    display:flex;
    justify-content: space-between;
    background-color:  rgb(141, 161, 104);
    height: 50px;
    border-style: solid;
    margin: 3px;
    border-radius: 10px;
}

ul {
    display: flex; /* 5 */
    list-style: none; /* 6 */
  }

li {
    padding-left: 1rem; /* 7! */
}

a{
    text-decoration: none;
    color: rgb(224, 253, 223);
}
a:hover{
    color:rgb(66, 85, 66);
}

.main{
    margin:15px;
    padding: 20px;
    border-radius: 10px;
    border-style: solid;
    text-align: center;
    background-color: rgb(206, 233, 156);
}

iframe{
    border-radius: 10px;
}